numpy
pandas
torch
imageio-ffmpeg
scipy
stable-retro
h5py

# to add to ppo_study
pytorch-lightning
stable-retro
scikit-learn
#retrowrapper
opencv-python

git+ssh://git@github.com/courtois-neuromod/ppo_study.git@main#egg=src
