numpy
pandas
invoke
torch
imageio
imageio-ffmpeg
scipy
stable-retro
h5py
pytz
six
Pillow

# to add to ppo_study
pytorch-lightning
stable-retro
scikit-learn
#retrowrapper
opencv-python

git+ssh://git@github.com/courtois-neuromod/ppo_study.git@main#egg=src
